.underline {text-decoration: underline;}

.bold{font-weight: bold;}

.big{
    font-size: 50px;
}

.italic{
    font-style: italic;
}

.color{
    color: darkblue;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}

.small{
    font-size: 15px;
}